.button {
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  background-color: var(--blue-dark);
  color: var(--gray-100);

  border-radius: 0.8rem;
  transition: 0.2s;
}

.button:hover {
  background-color: var(--blue);
}

.button span {
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 140%;
}